<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>520116349478-1p191v5miqlp4spq15mddgj3rghahe6u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.520116349478-1p191v5miqlp4spq15mddgj3rghahe6u</string>
	<key>API_KEY</key>
	<string>AIzaSyBOilmW0j5c2rNBGvpo64vUiQN7vY1T2pk</string>
	<key>GCM_SENDER_ID</key>
	<string>520116349478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TikTokClone.www.TikTokClone</string>
	<key>PROJECT_ID</key>
	<string>tiktokclon-22e88</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktokclon-22e88.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:520116349478:ios:2f00709282fe84d9bf14e7</string>
	<key>DATABASE_URL</key>
	<string>https://tiktokclon-22e88-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>